In [19]:
import numpy as np
import pandas as pd

In [20]:
df = pd.read_csv('https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv')

In [21]:
# Show the Comedy movies in the year 2007.

df[(df["Genre"] == "Comedy") & (df["Year"] == 2007)]

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
18,The Heartbreak Kid,Comedy,Paramount,41,2.129444,30,$127.77,2007
36,No Reservations,Comedy,Warner Bros.,64,3.307180,39,$92.60,2007
51,License to Wed,Comedy,Warner Bros.,55,1.980206,8,$69.31,2007
54,Knocked Up,Comedy,Universal,83,6.636402,91,$219,2007
62,Good Luck Chuck,Comedy,Lionsgate,61,2.367685,3,$59.19,2007
69,Enchanted,Comedy,Disney,80,4.005737,93,$340.49,2007