In [7]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv('https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577/movies.csv')

In [9]:
# Show the top 5 Comedy movies approved by the audience. (hint : Audience Score).
df[df["Genre"] == "Comedy"].sort_values(by=["Audience score %"], ascending=False).head(5)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
54,Knocked Up,Comedy,Universal,83,6.636402,91,$219,2007
27,Sex and the City,Comedy,Warner Bros.,81,7.221796,49,$415.25,2008
71,Beginners,Comedy,Independent,80,4.471875,84,$14.31,2011
69,Enchanted,Comedy,Disney,80,4.005737,93,$340.49,2007
44,Marley and Me,Comedy,Fox,77,3.746782,63,$206.07,2008